<div id="content">
    <div id="hero">
        <div id="hero1">
            <img src="../../assets/super-1.png" alt="spiderman">
            <p>Spiderman</p>
            <h1>12</h1>
        </div>
        <div id="hero2">
            <img src="../../assets/super-3.png" alt="wonderwomen">
            <p>Wonder<br>Women</p>
            <h1>30</h1>
        </div>
    </div>
    <div id="score">
        <h1>5 - 0</h1>
    </div>
    <div id="vilan">
        <div id="vilan1">
            <img src="../../assets/super-2.png" alt="captainamerica">
            <p>Captain<br>America</p>
            <h1>50</h1>
        </div>
        <div id="vilan2">
            <img src="../../assets/super-4.png" alt="gemwoman">
            <p>Gem Woman</p>
            <h1>12</h1>
        </div>
    </div>
</div>